#{extends 'main.html' /}


<meta charset="utf-8">

<div id="contenedor">		           
		
	<div id="section1"></div>
	
	<div id="section2">
		 <center><h2 class="login-title">CUERPO HUMANO</h2></center>
		 
		 <center> <table>
		  <tr>
		  <td height="40px" width="300px"></td>
		  <td height="30px" width="80px">	<center><img src="public/images/1.png" height="30px"width="80px"></center></td></center>
		  <td height="40px" width="300px"></td>
		  </tr>
		  
		  <tr>
		  <td height="40px" width="300px"></td>
		  <td  height="30px" width="90px" ><center><img src="public/images/2.png" height="30px"width="90px"></center></td>
		   <td height="40px" width="300px"></td>
		  </tr>
		  <tr>
		  <td height="40px" width="300px"></td>
		  <td  height="30px" width="80px" ><center><img src="public/images/3.png" height="30px"width="80px"></center></td>
		  <td height="40px" width="300px"></td>
		  </tr>
		  <tr>
		  <td height="40px" width="300px"></td>
		  <td  height="30px" width="60px" ><center><img src="public/images/4.png" height="30px"width="60px"></center></td>
		  <td height="40px" width="300px"></td>
		  </tr>
		  <tr>
		  <td height="40px" width="900px"></td>
		  <td  height="80px" width="200px" ><img src="public/images/5.png" height="80px"width="200px"></td>
		  <td height="40px" width="300px"></td>
		  </tr>
		  <tr>
		  <td height="40px" width="300px"></td>
		  <td  height="80px" width="170px" ><center><img src="public/images/6.png" height="80px"width="170px"></center></td>
		  <td height="40px" width="300px"></td>
		  </tr>
		  <tr>
		  <td height="40px" width="300px"></td>
		  <td  height="80px" width="170px" ><center><img src="public/images/7.png" height="80px"width="170px"></center></td>
		  <td height="40px" width="300px"></td>
		  </tr>
		  
		  
		  
		
		  
		  </table></center>
	</div>
		
	
	<div id="section3">
		<div id="sintomas2">
			<br>
			<table border="1">
				<tr>
					<td>Síntomas</td>
					<td>Texto</td>
								
				</tr>

				<tr>
					<td><input type="text" id="inpSintomas" value=""></td>
					<td><input type="text" id="inpTexto" value=""></td>
				
				</tr>

				<tr>
					<td><input type="text" id="inpSintomas" value=""></td>
					<td><input type="text" id="inpTexto" value=""></td>
					
				</tr>

				<tr>
					<td><input type="text" id="inpSintomas" value=""></td>
					<td><input type="text" id="inpTexto" value=""></td>
					
				</tr>

				<tr>
					<td><input type="text" id="inpSintomas" value=""></td>
					<td><input type="text" id="inpTexto" value=""></td>
					
				</tr>

				<tr>
					<td><input type="text" id="inpSintomas" value=""></td>
					<td><input type="text" id="inpTexto" value=""></td>
					
				</tr>
			</table>			
		</div>		
	</div>
		
	</div>
		
 
 	
 	


