#{extends 'main.html' /}

<meta charset="utf-8">


<body>
<div id="contenedor">

		<!-- 
	==============================================================
		FORMULARIO INICIO
	==============================================================
 -->
		<div id="inicio">
			
		</div>
		
		
		
<div id="inicio2">
	<div class="registro"> 
	<h1 class="login-title">EDITAR SUS DATOS</h1>
		
		<form  name="formLogin" action="@{Usuarios.Guardar()}" method = "post">
		<center><table>
			<tr>
				<td><label>NOMBRES:</label></td>
				<td><input name="UserName" type="text" id="user" class="login-input2"/></td>
			</tr>

			
					<td><label>CORREO ELECTRÓNICO:</label></td>
					<td><input name="Correo" type="text" id="password" class="login-input2" /><br></td>
			</tr> 
			<tr>
					<td><label>CONTRASEÑA:</label></td>
					<td><input name="Password" type="password" id="password" class="login-input2" /><br></td>
			</tr> 
			<tr>
					<td colspan="2"><input type="submit" id="index" value="ACTUALIZAR" class="login-button"  /></td>
			</tr> 

		</table>
		</center>
		</form>
 	</div> 
 
 			
 </div>				
</div>

</body>

