#{extends 'main2.html' /}

<meta charset="utf-8">

<center><h1 class="login-title" >MI PERFIL</h1>
#{if usuarios}

<table border="1">
<tr>

<th>Nombres</th>
<th>Apellidos</th>
<th>Direccion</th>
<th>Telefono</th>
<th>E_Mail</th>
<th>Eliminar datos</th>
<th>Actualizar datos</th>

</tr>
#{list items: usuarios,as:"usuario"}
<tr>
	<td>${usuario.UserName}</td>
	<td>${usuario.Apellido}</td>
	<td>${usuario.Direccion}</td>
	<td>${usuario.Telefono}</td>
	<td>${usuario.Correo}</td>	
	
	<td><a href="@{Usuarios.eliminar(usuario.id)}"><input type="button" id="Eliminar" name="Eliminar" value="Eliminar" style="color:red; height:30px; width:110px"  /></a></td>
	<td><a href="@{Usuarios.editar(usuario.id)}"><input type="button" id="Editar" name="Editar" value="Editar"style="color:red; height:30px; width:130px"/></a></td>
	
</tr>
#{/list}
</table>
#{/if}
#{else}
 <h1>no existe datos</h1>
 #{/else}
 </center>
 <br><br>